<footer class="footer section">
	<div class="advantages">
		<div class="container">
			<div class="advantages__wrapp clearfix">
				<div class="col-sm-3 col-xs-6 advantages__item">
					<div class="table-block">
						<div class="block-vertical">
							<div class="advantages__icon table-cell">
								<img src="img/adv1.svg" class="advantages__icon__white" alt="">
								<img src="img/adv1-b.svg" class="advantages__icon__black" alt="">
							</div>
							<div class="advantages__text table-cell">
								Официальный ритейлер
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-3 col-xs-6 advantages__item">
					<div class="table-block">
						<div class="block-vertical">
							<div class="advantages__icon table-cell">
								<img src="img/adv2.svg" class="advantages__icon__white" alt="">
								<img src="img/adv2-b.svg" class="advantages__icon__black" alt="">
							</div>
							<div class="advantages__text table-cell">
								Международная доставка
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-3 col-xs-6 advantages__item">
					<div class="table-block">
						<div class="block-vertical">
							<div class="advantages__icon table-cell">
								<img src="img/adv3.svg" class="advantages__icon__white" alt="">
								<img src="img/adv3-b.svg" class="advantages__icon__black" alt="">
							</div>
							<div class="advantages__text table-cell">
								Безопасная покупка
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-3 col-xs-6 advantages__item">
					<div class="table-block">
						<div class="block-vertical">
							<div class="advantages__icon table-cell">
								<img src="img/adv4.svg" class="advantages__icon__white" alt="">
								<img src="img/adv4-b.svg" class="advantages__icon__black" alt="">
							</div>
							<div class="advantages__text table-cell">
								Возможность возврата
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-bottom">
		<div class="container">
			<div class="footer__wrapp flex">
				<div class="footer__search">
					<form action="">
						<input type="text" class="footer__search__input" placeholder="Сообщать мне о новостях по e-mail">
						<button type="submit" class="footer__search__btn">
							<i class="fa fa-arrow-right" aria-hidden="true"></i>
						</button>
					</form>
				</div>
				<div class="footer__menu clearfix">
					<ul>
						<li><a href="#">Контакты</a></li>
						<li><a href="#">Помощь</a></li>
					</ul>
					<ul>
						<li><a href="#">Доставка и оплата</a></li>
						<li><a href="#">Обмен и Возврат</a></li>
					</ul>
				</div>
				<div class="footer__diler">
					<img src="img/raven.png" alt="">
					<div>Официальный ритейл</div>
				</div>
			</div>
		</div>
	</div>
</footer>