@import "partials/variable";

@media(max-width: 1199px){
	.banner__text{
		width: 50%;
	}
	.banner__img{
		width: 50%;
	}
	.footer__search{
		width: 40%;
	}
	.advantages__item{
		padding-left: 15px;
		padding-right: 15px;
	}
}
@media(min-width: 992px){
	.visible-sm{
		display: none;
	}
	.search-form__item{
		margin-top: 30px;
	}
	.logo{
		height: 80px;
		line-height: 80px;
	}
	.profile{
		height: 80px;
	}
	.footer-bottom{
		ul{
			float: left;
			width: 140px;
		}
	}
}
@media(max-width: 991px){
	.delivery__info__title{
		margin-bottom: 15px;
	}
	.payment__item + .payment__item{
		margin-top: 30px;
	}
	.return{
		padding-top: 0;
		padding-bottom: 50px;
		text-align: justify;

		&__header{
			margin-bottom: 30px;
		}
		&__content{
			&__item{
				margin-bottom: 20px;
			}
		}
	}
	.payment-delivery h4{
		margin-bottom: 5px;
	}
	.data-form{
		padding-bottom: 50px;
	}
	.cabinet__contacts__links{
		margin-top: 20px;
	}
	.cabinet__item{
		margin-bottom: 50px;
	}
	.cabinet__adress > div{
		display: block;

		+ div{
			margin-top: 15px;
			margin-left: 0;
		}
	}
	.cabinet__menu{
		margin-bottom: 40px;
	}
	.cabinet__title{
		margin-bottom: 20px;
	}
	.login-wrapp{
		padding-bottom: 60px;
	}
	.register-form{
		margin-top: 30px;
	}
	.cart__content{
		width: 100%;
		margin-top: 35px;
	}
	.order__table{
		margin-bottom: 40px;
	}
	.cart__img{
		width: 25%;
	}
	.cart__info{
		width: 75%;
	}
	.card__description{
		padding-left: 80px;
		padding-top: 0;
	}
	.search-form__item{
		margin-top: 3px;
	}
	.btn-favorite{
		margin-left: 10px;
	}
	.search-form{
		width: calc(100% - 315px);
	}
	.nav-tabs > li{
		margin: 5px 10px;
		max-width: 100px;
		vertical-align: top;
	}
	.hidden-sm{
		display: none;
	}
	.wrapper-grey{
		padding-top: 100px;
	}
	.profile{
		margin-top: 3px;
	}
	.product__info{
		padding-bottom: 30px;
	}
	.product__img{
		width: 170px;
	}
	.wrapper{
		padding-top: 75px;
	}
	.banner__text,
	.banner__img{
		height: calc(100vh - 75px);
	}
	.footer-bottom{
		ul + ul{
			margin-top: 15px;
		}
	}
	.menu{
		width: 100%;
		padding-left: 10px;
		padding-right: 10px;

		&__icon{
			height: 80px;
			line-height: 80px;

			img{
				transform: scale(1.5)
			}

			&--middle{
				img{
					transform: scale(1.3)
				}
			}
			&--small{
				img{
					transform: scale(1)
				}
			}
		}

		&__name{
			font-size: 20px;
			font-family: $bold;
		}

		> li{
			float: left;
			width: 33.3%;
			margin-bottom: 50px;
		}
	}
}
@media(min-width: 768px){
	.wrapper{
		height: 100% !important;
	  margin: 0 auto;
	  overflow: hidden;

	  &--inner{
	  	overflow: inherit;
	  	height: auto !important;
	  	min-height: 100%;
	  }
	}
	.visible-xs{
		display: none;
	}
	.product__list__name{
		white-space: nowrap;
		text-overflow: ellipsis;
	}
}
@media(max-width: 767px){
	.search-form{
		width: 100%;
    right: 0;
    top: 30px;
    padding-left: 15px;
    padding-right: 15px;
    min-height: 50px;
	}
	.return__header{
		font-size: 18px;
	}
	.delivery__info{
		padding-top: 0;
	}
	.delivery__btn{
		text-align: left;
	}
	.delivery__content{
		padding-left: 0;
	}
	.delivery__header{
		padding: 15px 0;
	}
	.payment{
		padding-bottom: 20px;
		margin-bottom: 25px;
	}
	.payment-delivery h3{
		margin-bottom: 20px;
		font-size: 22px;
	}
	.product-carousel .prev-name,
	.product-carousel .next-name,
	.product-carousel .owl-prev, 
	.product-carousel .owl-next{
		font-size: 18px;
	}
	.cart__body{
		table,
		tbody,
		tr,
		td{
			display: block;
			width: 100% !important;
			text-align: left !important;
		}
		td{
			margin-bottom: 20px;
		}
	}
	.cart__mobile-title{
		font-size: 22px;
		font-family: $sf;
		margin-bottom: 10px;
	}
	.cart__color{
		font-size: 22px;
	}
	.cart__price{
		font-size: 22px;

		i{
			font-size: 20px;
		}
	}
	.search-form__field{
		padding-bottom: 10px;
	}
	.search-form__btn{
		font-size: 24px;
		top: -5px;
	}
	.cart__info{
		padding-top: 10px;
	}
	.cart__img{
		width: 30%;
	}
	.cart__info{
		width: 70%;
	}
	.banner{
		&__img,
		&__text{
			height: auto;
			width: 100%;
			text-align: center;
			max-width: inherit;
		}
		&__description{
			padding-bottom: 60px;
		}
		&-small{
			margin-top: 40px;
		}
	}
	.btn-favorite i{
		font-size: 16px;
	}
	.card__btns{
		.btn-white{
			min-width: inherit;
			padding: 15px 10px;
		}
	}
	.card__name,
	.card__today-price{
		font-size: 22px;
	}
	.card__prev-price{
		font-size: 16px;
	}
	.card__description{
		margin-top: 30px;
		padding-left: 0;
	}
	.advantages__text{
		margin: auto;
	}
	.product__list__info{
		text-align: center;

		.pull-left,
		.pull-right{
			float: none;
		}
	}
	.product__list__name{
		height: 45px;
		margin-bottom: 10px;
	}
	.product__list__price{
		text-align: center;
	}
	.today-price,
	.prev-price{
		font-size: 14px;
		display: inline-block;
		vertical-align: middle;
	}
	.prev-price{
		margin-left: 5px;
	}
	.product__list__item{
		margin-bottom: 30px;
	}
	.product__info{
		padding-bottom: 10px;
		margin-bottom: 30px;
	}

	.hidden-xs{
		display: none;
	}
	.product__list__img{
		height: 200px;
		line-height: 200px;
		
		img{
			max-height: 200px;
		}
	}
	.wrapper{
		padding-top: 90px;
	}
	.main .section{
		padding-top: 0;
	}
	.banner-small{
		text-align: center;
	}
	.photo__header{
		.pull-left,
		.pull-right{
			width: 100%;
		}
	}
	.photo__title{
		margin-bottom: 25px;

		span{
			font-size: 34px;
			font-family: $bold;
		}
		i{
			font-size: 30px;
		}
	}
	.footer__wrapp{
		display: block;
	}
	.footer__search{
		width: 100%;
		margin-bottom: 50px;
	}
	.footer__menu{
		float: left;
	}
	.footer__diler{
		float: right;
	}
	.footer-bottom ul{
		font-size: 16px;
		text-transform: uppercase;
	}
	.footer__diler{
		font-size: 16px;
	}
	.footer__search__input{
		font-size: 19px;
	}
	.advantages__text,
	.advantages__icon{
		display: block;
		text-align: center;
	}
	.advantages__item{
		margin-bottom: 30px;
		height: 130px;

		&:nth-child(2){
			border: 0;
		}
	}
	.advantages__text{
		padding-left: 0;
		font-size: 16px;
		margin-top: 15px;
	}
	.advantages{
		padding-bottom: 10px;
	}
	.photo{
		margin: 45px 0;
	}
	.profile{
		padding: 30px 25px;
		margin-bottom: 45px;
		border-bottom: 1px solid rgba(255,255,255,0.3);

		&__btn{
			opacity: 1;
			font-size: 24px;
		}
	}
	.card{
		padding: 30px 0;
		padding-top: 10px;
	}
}
@media(max-width: 480px){
	.banner__text h1{
		font-size: 50px;
	}
	.order-link{
		width: 100%;
	}
	.advantages__text{
		font-size: 11px;
	}
	.banner__text h2{
		font-size: 30px;
	}
	.product__list__item{
		padding-left: 5px;
		padding-right: 5px;
	}
	.nav-tabs > li{
		max-width: 80px;
		margin: 5px;
	}
	.footer__search__input{
		font-size: 14px;
	}
	.footer-bottom ul,
	.footer__diler{
		font-size: 12px;
	}
	.menu{

		&__icon{
			height: 70px;
			line-height: 70px;

			img{
				transform: scale(1.3)
			}
			&--middle{
				img{
					transform: scale(1.2)
				}
			}
			&--small{
				img{
					transform: scale(1.1)
				}
			}
		}

		&__name{
			font-size: 14px;
			font-family: $regular;
		}

		> li{
			margin-bottom: 40px;
		}
	}
	.cart__name{
		font-size: 22px;
	}
	.cart__mobile-title,
	.cart__color,
	.cart__price{
		font-size: 18px;
	}
	.cart__price i{
		font-size: 16px;
	}
	.cart__delete{
		position: relative;
		top: -5px;
	}
	.cabinet-order{
		overflow: auto;
	}
	.cabinet-order__item{
		table-layout: fixed;
		width: 500px;
	}
}