@font-face {
  font-family: 'ComfortaaRegular';
  src: url('../fonts/ComfortaaRegular.eot');
  src: url('../fonts/ComfortaaRegular.eot') format('embedded-opentype'),
       url('../fonts/ComfortaaRegular.woff2') format('woff2'),
       url('../fonts/ComfortaaRegular.woff') format('woff'),
       url('../fonts/ComfortaaRegular.ttf') format('truetype'),
       url('../fonts/ComfortaaRegular.svg#ComfortaaRegular') format('svg');
}
@font-face {
  font-family: 'ComfortaaBold';
  src: url('../fonts/ComfortaaBold.eot');
  src: url('../fonts/ComfortaaBold.eot') format('embedded-opentype'),
       url('../fonts/ComfortaaBold.woff2') format('woff2'),
       url('../fonts/ComfortaaBold.woff') format('woff'),
       url('../fonts/ComfortaaBold.ttf') format('truetype'),
       url('../fonts/ComfortaaBold.svg#ComfortaaBold') format('svg');
}
@font-face {
    font-family: 'ComfortaaLight';
    src: url('../fonts/ComfortaaLight.eot');
    src: url('../fonts/ComfortaaLight.eot') format('embedded-opentype'),
         url('../fonts/ComfortaaLight.woff2') format('woff2'),
         url('../fonts/ComfortaaLight.woff') format('woff'),
         url('../fonts/ComfortaaLight.ttf') format('truetype'),
         url('../fonts/ComfortaaLight.svg#ComfortaaLight') format('svg');
}
@font-face {
    font-family: 'smSFNSDisplayRegular';
    src: url('../fonts/smSFNSDisplayRegular.eot');
    src: url('../fonts/smSFNSDisplayRegular.eot') format('embedded-opentype'),
         url('../fonts/smSFNSDisplayRegular.woff2') format('woff2'),
         url('../fonts/smSFNSDisplayRegular.woff') format('woff'),
         url('../fonts/smSFNSDisplayRegular.ttf') format('truetype'),
         url('../fonts/smSFNSDisplayRegular.svg#smSFNSDisplayRegular') format('svg');
}
@font-face {
    font-family: 'smSFNSDisplayThin';
    src: url('../fonts/smSFNSDisplayThin.eot');
    src: url('../fonts/smSFNSDisplayThin.eot') format('embedded-opentype'),
         url('../fonts/smSFNSDisplayThin.woff2') format('woff2'),
         url('../fonts/smSFNSDisplayThin.woff') format('woff'),
         url('../fonts/smSFNSDisplayThin.ttf') format('truetype'),
         url('../fonts/smSFNSDisplayThin.svg#smSFNSDisplayThin') format('svg');
}
@font-face {
    font-family: 'SFUIDisplayMedium';
    src: url('../fonts/SFUIDisplayMedium.eot');
    src: url('../fonts/SFUIDisplayMedium.eot') format('embedded-opentype'),
         url('../fonts/SFUIDisplayMedium.woff2') format('woff2'),
         url('../fonts/SFUIDisplayMedium.woff') format('woff'),
         url('../fonts/SFUIDisplayMedium.ttf') format('truetype'),
         url('../fonts/SFUIDisplayMedium.svg#SFUIDisplayMedium') format('svg');
}
@font-face {
    font-family: 'RobotoBold';
    src: url('../fonts/RobotoBold/RobotoBold.eot');
    src: url('../fonts/RobotoBold/RobotoBold.eot') format('embedded-opentype'),
         url('../fonts/RobotoBold/RobotoBold.woff2') format('woff2'),
         url('../fonts/RobotoBold/RobotoBold.woff') format('woff'),
         url('../fonts/RobotoBold/RobotoBold.ttf') format('truetype'),
         url('../fonts/RobotoBold/RobotoBold.svg#RobotoBold') format('svg');
}
@font-face {
    font-family: 'RobotoRegular';
    src: url('../fonts/RobotoRegular/RobotoRegular.eot');
    src: url('../fonts/RobotoRegular/RobotoRegular.eot') format('embedded-opentype'),
         url('../fonts/RobotoRegular/RobotoRegular.woff2') format('woff2'),
         url('../fonts/RobotoRegular/RobotoRegular.woff') format('woff'),
         url('../fonts/RobotoRegular/RobotoRegular.ttf') format('truetype'),
         url('../fonts/RobotoRegular/RobotoRegular.svg#RobotoRegular') format('svg');
}
@font-face {
    font-family: 'RobotoLight';
    src: url('../fonts/RobotoLight/RobotoLight.eot');
    src: url('../fonts/RobotoLight/RobotoLight.eot') format('embedded-opentype'),
         url('../fonts/RobotoLight/RobotoLight.woff2') format('woff2'),
         url('../fonts/RobotoLight/RobotoLight.woff') format('woff'),
         url('../fonts/RobotoLight/RobotoLight.ttf') format('truetype'),
         url('../fonts/RobotoLight/RobotoLight.svg#RobotoLight') format('svg');
}
@font-face {
    font-family: 'RobotoMedium';
    src: url('../fonts/RobotoMedium/RobotoMedium.eot');
    src: url('../fonts/RobotoMedium/RobotoMedium.eot') format('embedded-opentype'),
         url('../fonts/RobotoMedium/RobotoMedium.woff2') format('woff2'),
         url('../fonts/RobotoMedium/RobotoMedium.woff') format('woff'),
         url('../fonts/RobotoMedium/RobotoMedium.ttf') format('truetype'),
         url('../fonts/RobotoMedium/RobotoMedium.svg#RobotoMedium') format('svg');
}
