@font-face {
  font-family: 'ComfortaaRegular';
  src: url('../fonts/ComfortaaRegular.eot');
  src: url('../fonts/ComfortaaRegular.eot') format('embedded-opentype'),
       url('../fonts/ComfortaaRegular.woff2') format('woff2'),
       url('../fonts/ComfortaaRegular.woff') format('woff'),
       url('../fonts/ComfortaaRegular.ttf') format('truetype'),
       url('../fonts/ComfortaaRegular.svg#ComfortaaRegular') format('svg');
}
@font-face {
  font-family: 'ComfortaaBold';
  src: url('../fonts/ComfortaaBold.eot');
  src: url('../fonts/ComfortaaBold.eot') format('embedded-opentype'),
       url('../fonts/ComfortaaBold.woff2') format('woff2'),
       url('../fonts/ComfortaaBold.woff') format('woff'),
       url('../fonts/ComfortaaBold.ttf') format('truetype'),
       url('../fonts/ComfortaaBold.svg#ComfortaaBold') format('svg');
}
@font-face {
    font-family: 'ComfortaaLight';
    src: url('../fonts/ComfortaaLight.eot');
    src: url('../fonts/ComfortaaLight.eot') format('embedded-opentype'),
         url('../fonts/ComfortaaLight.woff2') format('woff2'),
         url('../fonts/ComfortaaLight.woff') format('woff'),
         url('../fonts/ComfortaaLight.ttf') format('truetype'),
         url('../fonts/ComfortaaLight.svg#ComfortaaLight') format('svg');
}
@font-face {
    font-family: 'smSFNSDisplayRegular';
    src: url('../fonts/smSFNSDisplayRegular.eot');
    src: url('../fonts/smSFNSDisplayRegular.eot') format('embedded-opentype'),
         url('../fonts/smSFNSDisplayRegular.woff2') format('woff2'),
         url('../fonts/smSFNSDisplayRegular.woff') format('woff'),
         url('../fonts/smSFNSDisplayRegular.ttf') format('truetype'),
         url('../fonts/smSFNSDisplayRegular.svg#smSFNSDisplayRegular') format('svg');
}

@font-face {
    font-family: 'smSFNSDisplayThin';
    src: url('../fonts/smSFNSDisplayThin.eot');
    src: url('../fonts/smSFNSDisplayThin.eot') format('embedded-opentype'),
         url('../fonts/smSFNSDisplayThin.woff2') format('woff2'),
         url('../fonts/smSFNSDisplayThin.woff') format('woff'),
         url('../fonts/smSFNSDisplayThin.ttf') format('truetype'),
         url('../fonts/smSFNSDisplayThin.svg#smSFNSDisplayThin') format('svg');
}
@font-face {
    font-family: 'SFUIDisplayMedium';
    src: url('../fonts/SFUIDisplayMedium.eot');
    src: url('../fonts/SFUIDisplayMedium.eot') format('embedded-opentype'),
         url('../fonts/SFUIDisplayMedium.woff2') format('woff2'),
         url('../fonts/SFUIDisplayMedium.woff') format('woff'),
         url('../fonts/SFUIDisplayMedium.ttf') format('truetype'),
         url('../fonts/SFUIDisplayMedium.svg#SFUIDisplayMedium') format('svg');
}
