$regular: 'ComfortaaRegular';
$bold: 'ComfortaaBold';
$light: 'ComfortaaLight';
$sf: 'smSFNSDisplayRegular';
$sflight: 'smSFNSDisplayThin';
$sfmedium:  'SFUIDisplayMedium';

$red: #e85555;
$dark: #2a3847;
$grey: #f4f4f6;