$regular: 'ComfortaaRegular';
$bold: 'ComfortaaBold';
$light: 'ComfortaaLight';
$sf: 'RobotoRegular';
$sflight: 'RobotoLight';
$sfmedium:  'RobotoMedium';
$sfbold: 'RobotoBold';

$red: #e85555;
$dark: #2a3847;
$grey: #f4f4f6;